body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: hsl(0, 0%, 20%);
}

header {
    background: #4CAF50;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 100px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #e1dcdc;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
    transition: background 0.3s;
}

nav ul li a:hover, .active {
    background: #4CAF50;
}

main {
    padding: 2rem;
}

.settings, .known-faces {
    background: white;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .hero {
        padding: 20px;
    }
}
.dropdown-menu {
    background-color: #343a40; /* Matches the navbar-dark background */
    color: #ffffff;
}

.dropdown-menu .dropdown-item {
    color: #ffffff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #495057;
    color: #ffffff;
}
